:root {
    --primary-color: #781414;
    --secondary-color: #91743f;
    --bg-color: #faf4e8;
    --text-color: #1c1919;
    --font-heading: "Playfair Display", serif;
    --font-body: "Source Sans 3", sans-serif;
    --spacing: 16px;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    margin: 0;
    padding: 0.5em 0;
}

.header-main {
    background-color: var(--bg-color);
    border-bottom:#e0e0e0 solid 1px;
    padding: 16px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
}

.nav-brand {
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-size: 1.75em;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-links a {
    color: var(--text-color);
    font-family: var(--font-heading);  
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25em; 
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-actions {
    display: flex;
    gap: 24px;
}

.nav-actions .nav-action {
    color: var(--text-color);
    font-family: var(--font-heading);  
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-actions .nav-action:hover {
    color: var(--primary-color);
}

.nav-actions .nav-action img {
    width: 24px;
    height: 24px;
}

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../assets/images/ui/hero2.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container {
    width: 100%;
}

.hero-content {
   
    padding: 100px 75px;
    max-width: 800px;
    color: var(--bg-color);
}

.hero-content h1 {
    font-family: var(--font-heading);
    font-size: 5em;
    padding: 15px 0;
    margin-bottom: 0px;
    color: var(--bg-color);
}

.hero-content p {
    font-family: var(--font-body);
    font-size: 1.5em;
    margin-bottom: 40px;
    margin-top: 0px;
    color: var(--bg-color);
    opacity: 0.9;
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 12px 24px;
    font-family: var(--font-heading);
    font-size: 1em;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}